.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 20px;
  border: none;
  background-color: #fff;
  color: #003580;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4%;
  text-decoration: none;
  font-size: 15px;
}
